# pandas

<주의할 것들>
< Cautions >
- It's like excel, but also like numpy.. In addition, it seems to be like 'sql'
- The table's header should be placed on up.

- 엑셀같으면서 numpy같고 또 sql과도 유사함.
- 엑셀의 테이블 헤더는 반드시 상단에 위치할 것.

In [ ]:
import pandas as pd

pd.__version__

## Series

In [ ]:
sr = pd.Series([1,2,4], index=['A','B','C'], name='point')
print(sr)
print(type(sr))

In [ ]:
a=sr.name
b=sr.index
c=sr.shape
d=sr.values

In [ ]:
sr + 5 # 원본은 안바뀜

In [ ]:
sr = pd.Series([1,None,4], index=['A','B','C'], name='point')
print(sr)
print(type(sr))

In [ ]:
print(sr.isna())
print('================')
print(sr[sr.isna() == False])

## DataFrame

In [ ]:
info = {
    'Name':['Jackson', 'Emma', 'Noah', 'James'],
    'Weight':[68, 74, 77, 78],
    'Option':[True, True, False, False],
    'Rate':[0.21, 1.1, 0.89, 0.91],
    'Type':['A','A','C','C']
}

df = pd.DataFrame(info)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
list(df.index)

In [ ]:
url = 'https://raw.githubusercontent.com/devdio/flyai_datasets/main/vgsalesGlobale.csv'
df = pd.read_csv(url)
df

In [ ]:
df.head() # 위에서 부터 5개

In [ ]:
df.tail() # 밑에서부터 5개

In [ ]:
df.shape

In [ ]:
df.info() # -> Non-null 카운팅

In [ ]:
df.describe().T # -> 통계치

In [ ]:
# df.isna().sum(axis=0)
df.isna().any(axis=1) # -> 하나라도 NaN이 나올 경우, 처리함

In [ ]:
df[df.isna().any(axis=1)]

## 컬럼 선택

In [ ]:
df['Global Sales'] # Global Sales라는 컬럼만 들고 오겠다!

In [ ]:
df[['Global Sales', 'JP Sales']] # 두개를 가져옴

In [ ]:
df['Global Sales'].to_numpy().shape # 이거 실수 많이 함!(쉐이프 변환)

In [ ]:
df['Global Sales'].to_numpy().flatten().shape

In [ ]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.columns

In [ ]:
df_and = df[(df.global_sales > 40) | (df.jp_sales < 10)]['eu_sales']
print(df_and)

df_or = df[(df.global_sales > 40) | (df.jp_sales < 10)]['eu_sales']
print(df_or)

In [ ]:
df[df.global_sales > 40]['jp_sales']

In [ ]:
df.loc[(df.global_sales > 40), ['jp_sales', 'name']]

In [ ]:
i,j = 3,4
df.iloc[i,j] # i, j 인덱스값을 의미

In [ ]:
df_num = df.select_dtypes(include=['number'])
df_num['global_sales_twice'] = df['global_sales'] * 2
df_num

In [ ]:
df_x = df_num.drop("global_sales", axis = 1)
df_x

In [ ]:
df_num.drop("global_sales", axis = 1, inplace=True) # global_sales 사라짐
df_num

In [ ]:
df.isna().sum(axis=0)

In [ ]:
df['publisher'].value_counts()

In [ ]:
df['publisher'] = df['publisher'].fillna('Electronic Arts') # 평균 값을 집어넣어라!

In [ ]:
df['publisher'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df = df.dropna()
df.shape