# pandas

< Things to Note >
- It resembles Excel, has similarities with NumPy, and is also somewhat like SQL.
- The table headers in Excel must always be positioned at the top.

In [ ]:
import pandas as pd

pd.__version__

## Series

In [ ]:
sr = pd.Series([1,2,4], index=['A','B','C'], name='point')
print(sr)
print(type(sr))

In [ ]:
print(sr.name)
print(sr.index)
print(sr.shape)
print(sr.values)

In [ ]:
sr + 5 # Original remains unchanged.

In [ ]:
sr = pd.Series([1,None,4], index=['A','B','C'], name='point')
print(sr)
print(type(sr))

In [ ]:
print(sr.isna())
print('================')
print(sr[sr.isna() == False])

## DataFrame

In [ ]:
info = {
    'Name':['Jackson', 'Emma', 'Noah', 'James'],
    'Weight':[68, 74, 77, 78],
    'Option':[True, True, False, False],
    'Rate':[0.21, 1.1, 0.89, 0.91],
    'Type':['A','A','C','C']
}

df = pd.DataFrame(info)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
list(df.index)

In [ ]:
url = 'https://raw.githubusercontent.com/devdio/flyai_datasets/main/vgsalesGlobale.csv'
df = pd.read_csv(url)
df

In [ ]:
df.head() # Displays the first 5 rows

In [ ]:
df.tail() # Displays the last 5 rows

In [ ]:
df.shape

In [ ]:
df.info() # -> Count Non-null

In [ ]:
df.describe().T # -> Statistics

In [ ]:
# df.isna().sum(axis=0)  # Counts the number of NaN values for each column
df.isna().any(axis=1)  # Checks if any row contains at least one NaN value

In [ ]:
df[df.isna().any(axis=1)]

## Select column

In [ ]:
df['Global Sales']  # Retrieves only the 'Global Sales' column

In [ ]:
df[['Global Sales', 'JP Sales']]  # Retrieves both 'Global Sales' and 'JP Sales' columns

In [ ]:
df['Global Sales'].to_numpy().shape  # Common mistake! (Check the shape after converting to a NumPy array)

In [ ]:
df['Global Sales'].to_numpy().flatten().shape

In [ ]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.columns

In [ ]:
df_and = df[(df.global_sales > 40) | (df.jp_sales < 10)]['eu_sales']
print(df_and)

df_or = df[(df.global_sales > 40) | (df.jp_sales < 10)]['eu_sales']
print(df_or)

In [ ]:
df[df.global_sales > 40]['jp_sales']

In [ ]:
df.loc[(df.global_sales > 40), ['jp_sales', 'name']]

In [ ]:
i, j = 3, 4
df.iloc[i, j]  # Refers to the value at row index i and column index j

In [ ]:
df_num = df.select_dtypes(include=['number'])
df_num['global_sales_twice'] = df['global_sales'] * 2
df_num

In [ ]:
df_x = df_num.drop("global_sales", axis = 1)
df_x

In [ ]:
df_num.drop("global_sales", axis = 1, inplace=True) # global_sales disapear
df_num

In [ ]:
df.isna().sum(axis=0)

In [ ]:
df['publisher'].value_counts()

In [ ]:
df['publisher'] = df['publisher'].fillna('Electronic Arts') # Input mean value.

In [ ]:
df['publisher'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df = df.dropna()
df.shape